<% if items && (items.length > 0) %>
	<%
		table_keys = Hash.new
		table_keys["tickets"] = Set.new ["_id", "priority", "subject", "status"]
		table_keys["users"] = Set.new ["_id", "name", "email", "role"]
		table_keys["organizations"] = Set.new ["_id", "name", "details"]
	%>
	<table class="table table-inverse table-bordered">
		<thead class="thead-inverse">
			<tr>
				<% items.first.keys.each do |key| 
					if table_keys[param].include?(key)
				%>
					<th> <% txt = key.dup 
	          			if key.include?("_") 
	          				txt =  key.dup.gsub! "_", " "
	      				end
	          			%> 
	          			<%= txt%> 
	          		</th>
	          		<%end%>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% if items %>  
			      <% items.each do |item| %>
			      	<tr class="info-detail-src">
			      		<% item.keys.each do |key| 
			      			if table_keys[param].include?(key) %>
			          		<td><%= item[key] %></td>
			          		<%end%>
			          	<% end %>
		          	</tr>
		          	<tr style="display:none">
			          	<td>
			          		<div class="info-detail-target">
				          		<% item.keys.each do |key| %>
				          		<div class="row">
					          		<div class="col-md-3">
					          			<% txt = key.dup 
					          			if key.include?("_") 
					          				txt =  key.dup.gsub! "_", " "
				          				end
					          			%> 
					          			<%= txt%></div>
					          		<div class="col-md-9"><%= item[key] %></div>
					          	</div>
					          	<% end %>
		          			</div>
		          		</td>
	          		</tr>
			      <% end %>
			<% end %>
		</tbody>
	</table>
<% end %>