<div id="search_results_container">
	<%= render :partial => "search_results_table", :locals => { :items => ticket_results } %>
	<%= render :partial => "search_results_table", :locals => { :items => user_results } %>
	<%= render :partial => "search_results_table", :locals => { :items => org_results } %>	
</div>