// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    margin-top: 20px;
}

#search_results_container{
	
	margin-top: 20px;
	
	table {
		tbody{
			tr:hover {
				background-color: #ffa;
				cursor: pointer;
			}
		}
		thead {
			text-transform: capitalize;
		}
	}
}

#searchDetailsModal {
	.row {
		margin: 2% 0 2% 0;

		.col-md-3 {
			font-weight: bold;
			text-transform: capitalize;
		}
	}
}